.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 4px 25px;
    border-radius: 50px;
    font-size: 0.9rem;
}

.header-logo {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--clr-primary);
}

.navigation-menu {
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
}

.navigation-item {
    position: relative;
    transition: color 0.3s;
}

.navigation-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--clr-primary);
    transition: width 0.3s;
}

.navigation-item:hover::after {
    width: 100%;
}
