.img-and-info {
    height: 80vh;
}

.img-and-info__title {
    font-size: 2.7rem;
    line-height: 1.2;
    color: var(--clr-secondary);
}

.img-and-info__title strong {
    color: var(--clr-primary);
}

.img-and-info__paragrafo {
    font-size: 1rem;
    color: var(--clr-secondary);
    margin-top: 1rem;
}

.img-and-info__btns {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.img-and-info__btns button {
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
}

.outline {
    background-color: transparent !important;
    border: 1px solid var(--clr-primary) !important;
    color: var(--clr-primary) !important;
    transition: 0.5s;
}

.outline:hover {
    background-color: var(--clr-primary) !important;
    color: white !important;
}

.img-and-info img {
    max-width: 100%;
    width: 700px;
    height: auto;
}


/* Reponsive */
@media screen and (max-width: 1400px) {
    .img-and-info {
        height: auto;
        padding: 100px 0;
    }

    .img-and-info__title {
        font-size: 2.5rem;
    }

    .img-and-info img {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {
    .img-and-info img {
        width: 400px;
    }

    .img-and-info__title {
        font-size: 2rem;
    }

    .img-and-info__paragrafo {
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 992px) {
    .img-and-info{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .img-and-info img {
        width: 600px;
    }

    .img-and-info__title {
        font-size: 2.5rem;
    }

    .img-and-info__paragrafo {
        font-size: 1rem;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 768px) {
    .img-and-info {
        gap: 25px;
    }

    .img-and-info__title {
        font-size: 2rem;
    }

    .img-and-info__paragrafo {
        font-size: 0.9rem;
    }
}
