@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('header.css');
@import url('img-and-info.css');
@import url('services.css');
@import url('why-choose-us.css');
@import url('services-cards.css');
@import url('faq.css');
@import url('footer.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --clr-primary: #0067FF;
    --clr-secondary: #111827;
    --bg-primary: #E8EDF5;
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--bg-primary);
    overflow-x: hidden;
}

.container{
    width: 80%;
    max-width: 1400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}


/* Breakpoints */
@media screen and (max-width: 768px){
    .container{
        width: 90%;
    }
}