@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('header.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

:root{
    --clr-primary: #EE502E;
    --clr-secondary: #455A64;
    --bg-primary: #E4E3E1;
}

body{
    background-color: var(--bg-primary);
}

.container{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* Image and info */
.img-and-info{
    height: 80vh;
}

.img-and-info__title{
    font-size: 3.5rem;
    line-height: 1.2;
    color: var(--clr-secondary);
}
.img-and-info__title strong{
    color: var(--clr-primary);
}

.img-and-info__paragrafo{
    font-size: 1rem;
    color: var(--clr-secondary);
    margin-top: 2rem;
}

.img-and-info__btns{
    margin-top: 1rem;
    display: flex;
    gap: 20px;
}

.img-and-info__btns button{
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    background-color: var(--clr-primary);
    color: white;
    cursor: pointer;
}

.outline{
    background-color: transparent!important;
    border: 1px solid var(--clr-primary)!important;
    color: var(--clr-primary)!important;
    transition: .5s;
}

.outline:hover{
    background-color: var(--clr-primary)!important;
    color: white!important;
}

.img-and-info img{
    max-width: 100%;
    width: 700px;
    height: auto;
}

/* Serivices info */
.services{
    background-color: white;
}

.services-title-and-info{
    display: flex;
    gap: 50px;
    padding: 100px 0;
}

.services-title-and-info__img{
    width: 500px;
}

.services-title-and-info__title{
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--clr-secondary);
}

.services-title-and-info__paragrafo{
    font-size: .9rem;
    margin-top: 1rem;
    color: var(--clr-secondary);
}

.services-title-and-info__container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 26px;
}

.services-title-and-info__container__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.services-title-and-info__container__info-icon{
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    border-radius: 4px;
    color: white;
    flex-shrink: 0;
    transition: .5s;
}

.services-title-and-info__container__info:hover .services-title-and-info__container__info-icon{
    background-color: white;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
    transform: scale(1.1);
}

.services-title-and-info__container__info-subtitle{
    font-size: 1.8rem;
    line-height: 1.1;
}

.services-title-and-info__container__info-paragrafo{
    margin-top: .5rem;
    font-size: 1rem;
    color: var(--clr-secondary);
}

.why-choose{
    margin: 70px auto;
    text-align: center;
    position: relative;
    width: 100%;
}

.why-choose__title{
    font-size: 2.5rem;
    color: var(--clr-secondary);
}

.why-choose__paragrafo{
    font-size: 1rem;
    color: var(--clr-secondary);
    width: 550px;
    margin: 2rem auto;
}

.why-choose__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.why-choose__container__info{
    width: 300px;
    height: 260px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 8px;
    text-align: start;
    transition: .5s;
}

.why-choose__container__info:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.why-choose__container__info-icon{
    width: 70px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 4px;
}

.why-choose__container__info__text{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.why-choose__container__info h3{
    font-size: 1.1rem;
    margin-top: .9rem;
}

.why-choose__container__info p{
    font-size: 1rem;
    color: var(--clr-secondary);
    width: 100%;
    margin-top: 1rem;
    line-height: 1.3;
}

.triangle{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #FFA6E1;
    position: absolute;
    transform: rotate(35deg);
    right: 10%;
    top: -75px;
    z-index: -1;
}

.trinagle-gray{
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 55px solid #ECECEC;
    transform: rotate(45deg);
    top: 10px;
    right: 15%;
}

.virus{
    position: absolute;
    top: -60px;
    left: 0;
}

.virus img{
    width: 200px;
}
