.why-choose-us{
    margin: 70px auto;
    text-align: center;
    position: relative;
    width: 100%;
}

.why-choose-us__title{
    font-size: 2.5rem;
    color: var(--clr-secondary);
}

.why-choose-us__description{
    font-size: 1rem;
    color: var(--clr-secondary);
    width: 550px;
    margin: .7rem auto 5rem auto;
}

.why-choose-us__features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.why-choose-us__feature{
    width: 330px;
    min-height: 280px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 8px;
    text-align: start;
    transition: .4s;
}

.why-choose-us__feature:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.why-choose-us__icon{
    width: 70px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 4px;
}

.why-choose-us__text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.why-choose-us__text h3{
    font-size: 1.1rem;
}

.why-choose-us__text p{
    font-size: 1rem;
    color: var(--clr-secondary);
    width: 100%;
    line-height: 1.3;
}


/* Decorations */
.why-choose-us__decoration--triangle, .testimonials__decoration{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid #FFA6E1;
    position: absolute;
    transform: rotate(35deg);
    right: 10%;
    top: -75px;
    z-index: -1;
}

.why-choose-us__decoration--triangle-gray{
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 55px solid #ECECEC;
    transform: rotate(45deg);
    top: 10px;
    right: 15%;
}

.why-choose-us__decoration--virus{
    position: absolute;
    top: -60px;
    left: 0;
}

.why-choose-us__decoration--virus img{
    width: 200px;
}


/* Testimonials Section */
.testimonials{
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
    margin-top: 150px; 
    position: relative;
}

.testimonials__decoration--triangle-orange{
    border-bottom: 55px solid #eb6a4d;
    transform: rotate(45deg);
}

.testimonials__decoration--triangle-orange-shadow{
    border-bottom: 50px solid rgba(238, 80, 46, .3);
    transform: rotate(45deg);
    right: 11%;
    top: -58px;
    z-index: -4;
}


.testimonials__img{
    width: 500px; 
    height: auto;
}

.testimonials__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 700px;
}

.testimonials__header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.testimonials__title{
    margin-bottom: 30px;
    color: var(--clr-secondary);
    font-size: 2.3rem;
    
}

.testimonials__navigation {
    display: flex;
    margin-right: 2px;
    gap: 25px;
}

.testimonials__btn {
    background-color: var(--clr-primary);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__btn i{
    font-size: .6rem;
}

.testimonials__card{
    background-color: white;
    text-align: start;
    padding: 10px 20px;
    border-radius: 8px;
    border-left: 20px solid var(--clr-primary);
    transition: .4s;
}

.testimonials__card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.testimonials__card-title{
    color: var(--clr-primary);
    margin-bottom: .8rem;
}

.testimonials__card-text{
    color: var(--clr-secondary);
    font-size: .9rem;
    line-height: 1.2;
}

.testimonials__review{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.testimonials__stars{
    color: var(--clr-primary);
}

.testimonials__person{
    display: flex;
    align-items: center;
    gap: 5px;
}

.testimonials__person-info{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.testimonials__person-name{
    color: var(--clr-secondary);
    font-weight: bold;
}

.testimonials__person-avatar{
    border-radius: 50%;
}

.testimonials__person-avatar img{
    width: 40px;
    border-radius: 50%;
}

/* Responsive */
@media screen and (max-width: 1250px){
    .why-choose-us{
        margin: 0 auto;
    }

    .why-choose-us__feature{
        width: 45%;
        height: auto;
        min-height: 300px;
    }

    .why-choose-us__text h3{
        font-size: 1rem;
    }

    .why-choose-us__text p{
        font-size: .9rem;
    }

    .why-choose-us__description{
        width: 100%;
        margin: 0 auto 3rem auto;
    }

    .why-choose-us__decoration--triangle{
        display: none;
    }

    .why-choose-us__decoration--triangle-gray{
        display: none;
    }

    .why-choose-us__decoration--virus{
        display: none;
    }

    .testimonials{
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
        margin-top: 100px;
    }

    .testimonials__content{
        width: 100%;
    }

    .testimonials__title{
        font-size: 2rem;
    }

    .testimonials__img{
        width: 400px;
        max-width: 100%;
    }

    .testimonials__decoration--triangle-orange{
        display: none;
    }

    .testimonials__decoration--triangle-orange-shadow{
        display: none;
    }
}


